<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://redom.js.org/redom.min.js"></script>
    <!--
      <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
      <script src="//cdn.jsdelivr.net/npm/pouchdb@7.2.1/dist/pouchdb.js"></script>
    -->
  </head>
  <body>
  <script src="/{{jscript}}"></script>
  <!--
  <img src="/menuicon3.svg" alt="My SVG" style="position:fixed;top:32px;"/>
  -->
  </body>
</html>
